@media only screen and (max-width: 1024px) {
    .form-wrapper > img {
        left: 10%;
    }
    .camp-bg {
        display: none;
    }
    fieldset {
        width: 100%;
        max-width: 600px;
    }
    #login-form {
        display: flex;
        justify-content: center;
    }
    .login-title {
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .form-wrapper > img {
        left: 7%;
    }
    .form-box {
        width: 86%;
        background-color: transparent;
        padding: unset;
    }
    fieldset {
        width: unset;
        min-width: 310px;
        max-width: unset;
        padding: 25px 0 0 0;
    }
    .login-title {
        justify-content:start;
    }
}

@media only screen and (max-width: 320px) {
    .form-wrapper > img {
        left: 32%;
      }

    .form-box {
        width: 90%;
    }

    legend {
        font-size: .75em;
    }

    fieldset {
        min-width: 290px;
    }

    .yellow {
        font-size: .85rem;
      }
}