:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.form-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.camp-bg {
    flex: 1;
    background-image: url(images/side-image.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(105%) contrast(125%);
}

.form-wrapper > div:nth-of-type(1) {
    display: flex;
    width: 80%;
    padding: 25px 0;
}

.form-wrapper > div > img {
    position: relative;
    top: 0;
    left: 0;
}

.form-box {
    width: 80%;
    border-radius: 8px;
    background-color: var(--form-background);
    color: var(--text-base);
    padding: 25px;
}

.login-title {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: start;
}

.login-intro {
    font: 500 1.75em 'Roboto', sans-serif;
    color: var(--text-title);
    padding-left: 10px;
}

#login-form {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 100%;
    min-width: 310px;
    max-width: 600px;
    border: none;
    padding: 25px 10px 10px 10px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

fieldset a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

legend { 
    font-weight: 400;
}

.container-pw {
    display: flex;
    justify-content: space-between;
}
.container-pw div {
    display: flex;
    flex: 1;
    white-space: nowrap;
    align-content: center;
}

.container-pw > div:nth-child(2) {
    justify-items: end;
}

.yellow {
    color: #ffc632;
    align-self: center;
    font-size: 1.05rem;
}

#email, #password {
    background-color: transparent;
    border: 1px solid var(--text-base);
    outline: 1px solid transparent;
    border-radius: 8px;
    color: var(--text-base);
    padding: 15px 20px 15px 50px;
    width: 100%;
    margin: 10px 0;
    font: inherit;
    transition: border .3s, outline .3s;
}

#email {
    background: url(images/mail.svg) no-repeat scroll 15px 17px;
    background-size: 25px 25px;
}

#password {
    background: url(images/lock.svg) no-repeat scroll 15px 17px;
    background-size: 25px 25px;
}

#email:focus-within, #password:focus-within {
    border: 1px solid var(--primary-color);
    outline: 1px solid var(--primary-color);
    transition: border .3s, outline .3s;
}

#email:focus-within {
    background: url(images/mail-focus.svg) no-repeat scroll 15px 17px;
    background-size: 25px 25px;
}

#password:focus-within {
    background: url(images/lock-focus.svg) no-repeat scroll 15px 17px;
    background-size: 25px 25px;
}

.toggle-pw {
    float: right;
    transform: translate(-15px, -50px);
}

.toggle-pw:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(93%) sepia(7%) saturate(463%) hue-rotate(187deg) brightness(91%) contrast(97%);
}

.yellow-eye, .yellow-eye:hover {
    filter: brightness(0) saturate(100%) invert(92%) sepia(22%) saturate(3490%) hue-rotate(331deg) brightness(105%) contrast(101%);
}

.remember-container {
    display: block;
    position: relative;
    padding-left: 1.85em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 400 1.05rem 'Roboto', sans-serif;
    line-height: 1.75rem;
}

.remember-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.remember-container:hover {
    color: #d0d7e4;
}

.custom-checkbox {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid var(--text-base);
    border-radius: 5px;
}

.remember-container:hover .custom-checkbox {
    border: 1px solid #d0d7e4;
    background-color: #d0d7e413;
}

.remember-container input:checked ~ .custom-checkbox {
    background-color: var(--primary-color);
    border: 1px solid transparent;
}

.custom-checkbox:after {
    content: url(images/check.svg);
    position: absolute;
    display: none;
    transform: scale(1.25);
    left: 1px;
    top: 2px;
}
  
.remember-container input:checked ~ .custom-checkbox:after {
    display: block;
}

label {
    font-size: 1.1em;
    font-weight: 500;
}

.container-pw > div:nth-child(2) {
    justify-content: end;
}

::-webkit-input-placeholder, ::-moz-placeholder { /* WebKit browsers - disable input opacity on FF */
    color: var(--text-base);
    opacity: 1;
}

button {
    width: 100%;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    color: #463412;
    font: 600 1.25em 'Poppins', sans-serif;
    padding: 15px 0;
    margin: 25px 0;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    color: var(--form-background);
}

.center {
    display: flex;
    justify-content: center;
    white-space: pre;
}